.main-section {
  padding: 20px;
  border: 1px solid black;
  .main-wrapper {
    h2 {
      color: green;
      text-align: center;
    }
  }
  .cards-main-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
}
